[Unit]
Description=Timer da sincronização dos calendários MaisTodos

[Timer]
OnBootSec=1min
OnUnitActiveSec=5min
Unit=maistodos-sync.service

[Install]
WantedBy=timers.target
