[Desktop Entry]
Type=Application
Name=Mais Todos
Exec=brave-origin --profile-directory=Default --class=brave-origin-maistodos --user-data-dir=/home/henrique/.config/BraveSoftware/Brave-Origin-MaisTodos %U
Icon=brave-browser-nightly
StartupWMClass=brave-origin-maistodos
Terminal=false
NoDisplay=true
Categories=Network;WebBrowser;
MimeType=x-scheme-handler/http;x-scheme-handler/https;text/html;
