[Desktop Entry]
Version=1.0
Name=Kitty MaisTodos
GenericName=kitty-maistodos
StartupNotify=true
StartupWMClass=kitty-maistodos
Exec=kitty --class kitty-maistodos
Terminal=false
Icon=kitty-maistodos
Type=Application
Categories=System;TerminalEmulator;
NoDisplay=true
