[Desktop Entry]
Version=1.0
Name=Kitty Devbot
GenericName=kitty-devbot
StartupNotify=true
StartupWMClass=kitty-devbot
Exec=kitty --class kitty-devbot
Terminal=false
Icon=kitty-devbot
Type=Application
Categories=System;TerminalEmulator;
NoDisplay=true
